/*
    -> Currently code might have unused styles, will keep them as I might need them later.
    -> I don't ever wanna touch metabox again.
*/
body {
    background: #120b0f;
    color: #f0e9ec;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 20px;
    background: rgba(34, 18, 22, 0.88);
    backdrop-filter: blur(10px);

    position: sticky;
    top: 0;
    z-index: 100;

    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 34px;
    height: 34px;
    object-fit: contain;
    border-radius: 7px;
}

.title-text {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #fff6f8;
}

.title-main {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.right button {
    background: transparent;
    border: none;
    color: #d9d3ff;
    margin-left: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.right button:hover {
    color: white;
    transform: translateY(-1px);
}

.tab {
    display: none;
    padding: 25px 15px;
}

.tab.active {
    display: block;
}

#list {
    max-width: 950px;
    margin: auto;
}

.level {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 14px;

    margin-bottom: 12px;
    padding: 14px;
    border-radius: 8px;

    transition: 0.2s ease;
    cursor: pointer;

    border: 1px solid rgba(255,255,255,0.08);
    background: #1a1115;
}

.level:hover {
    border-color: #f25858;
    box-shadow: 0 10px 30px rgba(20, 0, 8, 0.42);
    transform: translateY(-2px);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.205);
}

.level::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgba(22, 10, 14, 0.96),
        rgba(22, 10, 14, 0.72)
    );

    z-index: 1;
    pointer-events: none;
}

.thumb {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
    opacity: 0.38;
}

.level .info,
.level .rank,
.level .play,
.level .play-wrapper,
.level-tags {
    position: relative;
    z-index: 2;
}

.rank {
    font-size: 28px;
    font-weight: 700;
    width: 55px;
    text-align: center;
    color: #ffffff;
}

.rank.gold {
    color: #ffe96d;
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.6);
}

.rank.silver {
    color: #c0c0c0;
    text-shadow: 0 0 6px rgba(192, 192, 192, 0.5);
}

.rank.bronze {
    color: #c0762b;
    text-shadow: 0 0 6px rgba(205, 127, 50, 0.5);
}

.level:hover .rank.gold {
    text-shadow: 0 0 12px rgba(255, 215, 0, 0.9);
}

.level:hover .rank.silver {
    text-shadow: 0 0 10px rgba(192, 192, 192, 0.8);
}

.level:hover .rank.bronze {
    text-shadow: 0 0 10px rgba(205, 127, 50, 0.8);
}

.info {
    flex: 1;
}

.name {
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.253);
}

.desc {
    font-size: 13px;
    color: #c9b9c0;
    margin-top: 4px;
}

.meta {
    font-size: 12px;
    color: #a997a0;
    margin-top: 6px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.meta span {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.meta img {
    width: 14px;
    height: 14px;
    opacity: 0.95;
}

.play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    text-decoration: none;
    background: linear-gradient(135deg, #76ff76, #a8d9ab);
    box-shadow: 0 4px 12px rgba(70, 120, 70, 0.28);
    padding: 9px 14px;
    border: 2px solid rgb(159, 255, 130);
    border-radius: 9px;

    color: #1c231d;
    font-size: 13px;
    font-weight: 700;

    transition: 0.2s;
}

.play:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #80ff80, #b1dab3);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    color: #3f3f3f;
}

.play.join-btn {
    background: linear-gradient(135deg, #536cff, #8183ff);
    border: 2px solid rgb(91, 156, 255);
}

.play-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    display: inline-block;
    object-fit: contain;
}

.level-page {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.level-card {
    background: #181015;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.level-page h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff7f9;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.video-container iframe {
    width: 100%;
    max-width: 650px;
    height: 360px;
    border-radius: 8px;
}

.meta-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    margin-top: 15px;
    padding: 12px;

    background: #130c10;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);

    font-size: 13px;
    color: #d4c5ca;
}

.meta-box b {
    color: #ffffff;
}

/* Placeholder - delete it when no palceholders needed!!! */
/* yuss */
.placeholder {
    text-align: center;
    color: gray;
    margin-top: 20px;
}

.progress-box {
    margin-top: 15px;
    padding: 15px;

    background: #130c10;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);

    text-align: left;
}

.progress-box h3 {
    margin: 0px 0px 10px 0px;
    font-size: 15px;
    color: #ffffff;
}

.progress-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.progress-item {
    display: flex;
    justify-content: space-between;

    padding: 8px 10px;
    background: #201419;
    border-radius: 9px;

    font-size: 13px;
}

.player {
    color: #e0d7ff;
    font-weight: 600;
}

.stage {
    color: #c0aeb7;
}

.nav {
    display: flex;
    gap: 10px;
    position: relative;
}

.nav-line {
    position: absolute;
    bottom: -6px;
    left: 0;

    height: 3px;
    width: 60px;

    background: #f25858;
    opacity: 0.8;
    border-radius: 10px;

    transition: transform 0.3s ease, width 0.3s ease;
}

.nav-btn {
    padding: 8px 12px;
    border-radius: 9px;

    font-size: 13px;
    font-weight: 600;

    color: #fff5f5;
    text-decoration: none;

    background: transparent;
    border: 1px solid transparent;

    cursor: pointer;
    transition: 0.2s ease;
}

.nav-btn:hover {
    background: rgba(242, 88, 88, 0.12);
    border-color: rgba(242, 88, 88, 0.35);
    color: white;
    transform: translateY(-1px);
}

.nav-btn:active {
    transform: translateY(0px);
}

#player-list .level {
    background: #1b1217;
}

#player-list .rank {
    color: #ffd166;
}

.page-title {
    max-width: 950px;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;

    color: #ffffff;
}

.title-underline {
    width: 80px;
    height: 3px;

    background: #f25858;
    border-radius: 10px;

    opacity: 0.8;
}

.title-icon {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    object-fit: contain;

    display: block;
}

.flag-icon {
    width: 18px;
    height: 12px;

    object-fit: cover;

    margin-right: 4px;

    border-radius: 2px;
    vertical-align: middle;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.player-tooltip {
    position: absolute;
    background: #130c10;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;

    padding: 10px 12px;
    font-size: 12px;
    color: #cfd3ff;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    z-index: 999;

    display: none;
    min-width: 200px;
}

.player-tooltip b {
    color: white;
    display: block;
    margin-bottom: 6px;
}

.play-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.level-icon {
    width: 36px;
    height: 36px;

    border-radius: 9px;

    object-fit: cover;

    border: 3px solid rgb(255, 255, 255);

    box-shadow: 0 4px 12px rgb(38, 0, 143);
    transition: 0.2s ease;
}

.level-icon:hover {
    transform: scale(1.05);
}

.controls {
    max-width: 950px;
    margin: 10px auto 20px;

    display: flex;
    gap: 10px;
}

#search, #tag-filter {
    flex: 1;

    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.08);

    background: #130c10;
    color: white;
    font-family: inherit;

    outline: none;
}

#search:focus, #tag-filter:focus {
    border-color: rgba(88,101,242,0.6);
}

.level-tags {
    position:absolute;
    top: 10px;
    right: 10px;

    display: flex;
    gap: 6px;
    flex-wrap: wrap;

    z-index: 3;
}

.level-tag {
    font-size: 10px;
    padding: 3px 7px;

    border-radius: 999px;
    background: rgba(242, 88, 88, 0.25);
    border: 1px solid rgba(88, 101, 242, 0.4);

    color: #d6dbff;
}

.list-switcher {
    max-width: 950px;
    margin: 0 auto 18px;

    display: flex;
    gap: 8px;
}

.list-btn {
    background: #1a1115;
    color: #f0e9ec;

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 5px;

    padding: 10px 14px;

    font-family: inherit;
    font-size: 13px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.15s ease;
}

.list-btn:hover {
    background: #24161b;
    border-color: rgba(242, 88, 88, 0.4);
}

.list-btn.active {
    background: #f25858;
    color: white;
    border-color: #f25858;
}